<!--  Wrapper container    -->
<div class="wrapper">
    <div class="wrapper_inner">
        <div class="vertical_wrap">
        <div class="backdrop"></div>
        <div class="vertical_bar">
            <div class="profile_info">
                <!----
                <div class="img_holder">
                    <img src="pic.png" alt="profile_pic">
                </div>
                routerLink="/heroes"
            -->
                
            </div>
            <ul class="menu">
                <li><a [routerLink]='["/dashboardLink"]'>
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="text">Dashboard</span>
                </a></li>
                <li><a  [routerLink]='["/bookingLink"]' >
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span class="text">Bookings</span>
                </a></li>
                <li><a [routerLink]='["/profileLink"]'>
                    <span class="icon"> <i class="fas fa-user"></i></span>
                    <span class="text">Profile</span>
                </a></li>


                <li><a [routerLink]='["/passwordLink"]'>

                    <i class="fas fa-gear"></i>
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="text">Reset Password</span>
                </a></li>
                <li><a routerLink="/walletLink">
                    <span class="icon"><i class="fas fa-wallet"></i></span>
                    <span class="text">Wallet</span>
                </a></li>
            </ul>

            
        </div>
    </div>
  
