<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<!-- <div class="diiii" *ngFor="let bus of busDetails"> -->
<figure class="movie">
  <div class="movie__hero">
    <img src="https://img.freepik.com/free-vector/bus-cartoon-icon-illustration_138676-1957.jpg?w=2000" alt="Rambo" class="movie__img" height="250px">
  </div>
  <div class="movie__content">
    <div class="movie__title">
      <h1 class="heading__primary">BusType <i class="fas fa-bus"></i></h1>
      <div class="movie__tag movie__tag--1">100</div>
      <div class="movie__tag movie__tag--2">Seats</div>
    </div>
    <div class="movie__description">  
      <button class="place">Source</button> 
      <i class="fas fa-arrow-right arrow"></i>
      <button class="place">Destination</button>
    </div>
    <div class="movie__details">
      <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>Arrival Time</p>
      <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>Departure Time</p>
      <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-file-invoice-dollar"></i>
        </span>₹ 12.52 </p>
    </div>
    <div style="width: 100%;">
      <button class="movie__price">BOOK</button>
    </div>
  </div>
</figure>

<!-- </div> -->
</body>
</html>
