<!--  Wrapper container    -->
<div class="wrapper">
    <div class="wrapper_inner">
        <div class="vertical_wrap">
        <div class="backdrop"></div>
        <div class="vertical_bar">
            <div class="profile_info">
                <!----
                <div class="img_holder">
                    <img src="pic.png" alt="profile_pic">
                </div>
                routerLink="/heroes"
            -->
                
            </div>
            <ul class="menu">
               
                <li><a  [routerLink]='["/dashboard"]' >
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span class="text">Bookings</span>
                </a></li>
                <li><a [routerLink]='["/profile"]'>
                    <span class="icon"> <i class="fas fa-user"></i></span>
                    <span class="text">Profile</span>
                </a></li>


                <li><a [routerLink]='["/password"]'>

                    <i class="fas fa-gear"></i>
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="text">Reset Password</span>
                </a></li>
                <li><a routerLink="/wallet">
                    <span class="icon"><i class="fas fa-wallet"></i></span>
                    <span class="text">Wallet</span>
                </a></li>
            </ul>

            
        </div>
    </div>
  

<!--- Main Container  -->
<div class="main_container">
    <!--  top Vertical Bar  -->
    <div class="top_bar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
      
    </div>
    <div class="container">
            <div class="content">
                <div class="item">
                    Name:  <input type="text" value="John" disabled>
                    Age:   <input type="text" value="19" disabled>
                    Gender:<input type="text" Value="Male" disabled>
                    Mobile:<input type="text" value="8448943929" disabled><br><br>
                    Email: <input type="text" value="john@gmail.com" disabled>




                  </div>
                  
              </div>
          </div>
      </div>
